.container-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.slider {
    flex-wrap: wrap;
    height: 80vh;
    margin: 0 1.5rem 2.5rem 0;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    flex: 1;
    color: blue;
    position: relative;
    transition: all 500ms ease-in-out;

    &:last-child {
        margin-right: 0px;
    }
}

.slider h3 {
    background-color: rgba(112, 112, 112, .5);
    position: absolute;
    font-size: 24px;
    left: 22px;
    bottom: 22px;
    margin: 0;
    opacity: 0;
}

.slider.active {
    flex: 10 !important;
    opacity: 1 !important; 
}

.slider.active h3 {
    opacity: 1;
    transition: opacity .5s ease-in .4s;
}
